*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

.center-urbana{
    display: flex;
    justify-content: center;
    margin-top: 90px;

}

body{
    margin: 0;
    padding: 0;
    background: url(imagenes/Recomendado-Fin-De-Semana.jpg);
    
}

.hidden{
    overflow: hidden;
}
.centrado{
    height: 100vh;
    background-color: #8278dc;
    display: flex;
    justify-content: center;
    align-items:center

}
.texto{
    margin-left: -120px;
}

.lds-heart{
    margin-left: 90px;
    margin-top: -110px;
}
.lds-heart {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    transform: rotate(45deg);
    transform-origin: 40px 40px;
  }
  .lds-heart div {
    top: 32px;
    left: 32px;
    position: absolute;
    width: 32px;
    height: 32px;
    background: #fcf;
    animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .lds-heart div:after,
  .lds-heart div:before {
    content: " ";
    position: absolute;
    display: block;
    width: 32px;
    height: 32px;
    background: #fcf;
  }
  .lds-heart div:before {
    left: -24px;
    border-radius: 50% 0 0 50%;
  }
  .lds-heart div:after {
    top: -24px;
    border-radius: 50% 50% 0 0;
  }
  @keyframes lds-heart {
    0% {
      transform: scale(0.95);
    }
    5% {
      transform: scale(1.1);
    }
    39% {
      transform: scale(0.85);
    }
    45% {
      transform: scale(1);
    }
    60% {
      transform: scale(0.95);
    }
    100% {
      transform: scale(0.9);
    }
  }
  


  .center-urbana{
    display: flex;
    justify-content: center;
    margin-top: 90px;
  
    }
.img-central{
    width: 100%;
}

.GaleriaDeVideos{
    background: linear-gradient(90deg, rgb(34, 36, 41), rgba(34, 36, 41, 0.5));
    margin: 0.5rem;

}
h1{
  padding-top: 10px;
  margin: 15px;
  color: #d8d8d8;
  
}
.presentacion{
    padding-top: 10px;
    margin: 20px;
    font-size: 15px;
    text-align: center;
    font-style: italic;
    color: #d8d8d8;
    
}

.grid-item{
   
    display: flex;
    align-items: center;
    justify-content: center;

    transition: transform 0.3s ease-in-out;

    border: solid 1px rgb(255, 255, 255);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fll, minmax(240px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
}

.vid{
    width: 100%;
    height: 100%;
    object-fit: cover;

}



@media (min-width: 950px){

  .centrado{
    
    height: 100vh;
    background-color: #8278dc;
    display: flex;
    justify-content: center;
    align-items:center

  }


    .center-urbana{
      display: flex;
      justify-content: center;
      margin-top: 90px;
      }
    
    
    .img-central{
      height: 70%;
      width: 70%;
      }


    .presentacion{
      padding-top: 10px;
      margin-left: 45px;
      margin-right: 45px;
      font-size: 25px;
      text-align: center;
      font-style: italic;
      color: #d8d8d8;
      
      }

    .GaleriaDeVideos{
      background: linear-gradient(90deg, rgb(34, 36, 41), rgba(34, 36, 41, 0.5));
      margin: 0.5rem;
      padding-bottom: 50px;
  
      }
    h1{
      padding-top: 10px;
      margin: 15px;
      color: #d8d8d8;
      
      }
    
    .grid-item{      
      display: flex;
      align-items: center;
      justify-content: center;

      transition: transform 0.3s ease-in-out;
  
      border: solid 1px rgb(255, 255, 255);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      }
    
    
    .grid-container{
      padding: 0.9%;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
      grid-auto-rows: minmax(150px, auto);
      gap: 20px;
      padding: 20px;
      grid-auto-flow: dense;
      }
    
    .vid{
      width: 100%;
      height: 100%;
      object-fit: cover;  
      }
    
} 



